#admin-links{
    display: flex;
    gap: 1em;
    align-items: center;
    
}

.div-link{
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
    
}
.div-link a{
    font-size: 2em;
    text-transform: uppercase;
}