#admin-links{
    display: flex;
    gap: 1em;
    align-items: center;
    
}

.div-link{
    width: 200px;
    padding: 2em;
    
}
.div-link p{
    font-size: 1em;
    color: #121212;
    
    text-transform: uppercase;
}