*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-image : url('../static/images/bg.jpg');
    background-color: #E5E5E5;
}

.group {
    display: flex;
    gap: 1em;
    margin: 0;
    padding-bottom: 0;
    /*border: 2px solid red;*/
}

form {
    width: 70%;
    display: grid;
    grid-template-columns: auto auto;
    gap:0 1em;
    
}
    
form input,
form select {
    display: block;
    padding: .75em 1em;
    border-radius: 3px;
    border: 2px solid #ddd;
    margin: .5em;
}

form input:focus {
    outline: none;
}

form input[type="submit"] {
    background:#FCA311;
    color: #fff;
    cursor: pointer;
}

.sign_title {
    font-family: 'Montserrat', sans-serif;
}